<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="oldcookie.paymarkv3.UniteApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="oldcookie.paymarkv3.webActivity"
            android:exported="false" />
        <activity android:name="oldcookie.paymarkv3.MonthChartActivity" />
        <activity android:name="oldcookie.paymarkv3.SettingActivity" />
        <activity android:name="oldcookie.paymarkv3.HistoryActivity" />
        <activity android:name="oldcookie.paymarkv3.AboutActivity" />
        <activity android:name="oldcookie.paymarkv3.SearchActivity" />
        <activity android:name="oldcookie.paymarkv3.RecordActivity" />
        <activity
            android:name="oldcookie.paymarkv3.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>